<ion-tabs>
  <ion-tab-bar slot="bottom" class="h-30 shadow-2xl rounded-t-2xl">
    <ion-tab-button tab="home" href="/home">
      <ion-icon name="home" class="text-2xl"></ion-icon>
      <ion-label class="text-[10px] font-bold tracking-widest">HOME</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="explore" href="/explore">
      <ion-icon name="search" class="text-2xl"></ion-icon>
      <ion-label class="text-[10px] font-bold tracking-widest"
        >EXPLORE</ion-label
      >
    </ion-tab-button>

    <ion-tab-button tab="favourite" href="/favourite">
      <ion-icon name="heart" class="text-2xl"></ion-icon>
      <ion-label class="text-[10px] font-bold tracking-widest"
        >FAVOURITE</ion-label
      >
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon name="person" class="text-2xl"></ion-icon>
      <ion-label class="text-[10px] font-bold tracking-widest"
        >PROFILE</ion-label
      >
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
