/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

@import "tailwindcss";

:root {
  --ion-background-color: #ffffff;
  --ion-text-color: #333;
}

body {
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
}

ion-content::part(scroll) {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

ion-toolbar {
  --background: #ffffff;
  --color: #111827;
}

@media (prefers-color-scheme: dark) {
  :root {
    --ion-background-color: #030712;
    --ion-toolbar-background: #030712;
    --ion-tab-bar-background: #030712;
    --ion-tab-bar-color: #9ca3af;
    --ion-tab-bar-color-selected: #ffffff;
    --ion-text-color: #ffffff;
    --ion-color-step-50: #0d0d0d;
  }

  body {
    background-color: #030712;
  }

  ion-app {
    background: #030712;
  }

  ion-content {
    --background: #030712;
  }

  ion-toolbar {
    --background: #030712;
    --color: #ffffff;
    --border-color: transparent;
  }

  ion-title {
    --color: #ffffff;
  }

  ion-tab-bar {
    --background: #030712;
    border-top: 1px solid #1f2937;
  }

  ion-tab-button {
    --background: #030712;
    --color: #9ca3af;
    --color-selected: #ffffff;
  }

  // Fix fundal alb la pagini cu continut putin
  ion-router-outlet {
    background: #030712;
  }

  .ion-page {
    background: #030712;
  }
}
